{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/weather.css' %}">
</head>
<body class="weather-clear">
    <h1>Weather Information</h1>

    <form method="post">
        {% csrf_token %}
        <label for="location">Enter City Name or Pincode:</label>
        <input type="text" id="location" name="location" required>
        <button type="submit">Get Weather</button>

        <input type="hidden" id="weather-condition" value="{{ weather_condition }}">    
    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% else %}
    <h2>City: {{ city }}</h2>
    <p>Condition: {{weather_condition}}</p>
    <p>Temperature: {{ temperature }}°C</p>
    <p>Description: {{ description }}</p>
    {% endif %}


    
<script src="{% static 'JS/weather.js' %}"></script>
</body>
</html>